@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Press+Start+2P&family=Rubik+Iso&family=Silkscreen&display=swap');
* {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-formas-abstratas-brancas_79603-1362.jpg?w=2000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linha {
    overflow-y: hidden;
    height: 13vh;
    width: 100vw;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#title{
    font-size: 50px;
    font-family: 'Pattaya', sans-serif;
    padding-left: 30px;
}

#menu {
    display: none;
}

#nav {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 30px;
}

input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    margin-left: 20px;
    font-size: 25px;
}
input:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
main {
    width: 80vw;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
}
.conteudo > h1 {
    font-size: 50px;
    justify-content: center;
    display: flex;
}
.conteudo > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 15px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 640px) {
    header {
        position: fixed;
        top: 0;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .linha {
        height: 70px;
        justify-content: space-between;
    }
    
    #title {
        font-size: 25px;
        padding-left: 10px;
    }

    #btn-mobile {
        display: flex;
        margin-right: 10px;
    }

    #menu {
        margin-right: 10px;
        display: flex;
        background-color: transparent;
        border: none;
        font-size: 1rem;
    }

    label {
        display: flex;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 25px;
    }

    #hamburguer::after, #hamburguer::before {
        display: block;
        content: '';
        border-top: 2px solid black;
        margin-top: 7px;
        transition: .5s;
    }

    #btn-mobile.active #hamburguer { /* Button pressioned */
        border: none;
    }

    #btn-mobile.active #hamburguer::after{
        transform: rotate(135deg);
    }

    #btn-mobile.active #hamburguer::before {
        transform: rotate(-135deg);
        margin-bottom: -8px;
    }

    #nav {
        flex-direction: column;
        position: fixed;
        align-items: center;
        padding-left: 5px;
        right: -200px;
        background-color: rgba(0, 0, 0, 0.5);
        gap: 2rem;
        height: 100%;
        top: 70px;
        transition: .5s;
    }

    #nav.active {
        right: 0;
    }

    main {
        width: 90vw;
        margin-left: 0;
    }

    .conteudo h1 {
        font-size: 30px;
    }

    .conteudo p {
        font-size: 17px;
    }

    .conteudo img {
        width: 70vw;
    }
}