@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Press+Start+2P&family=Rubik+Iso&family=Silkscreen&display=swap');
* {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-formas-abstratas-brancas_79603-1362.jpg?w=2000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.linha {
    height: 13vh;
    width: 100vw;
    background-color: red;
    justify-content: space-between;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
#title{
    font-size: 50px;
    font-family: 'Pattaya', sans-serif;
    padding-left: 30px;
}
.links {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 30px;
}
input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    margin-left: 20px;
    font-size: 25px;
}
input:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
main {
    width: 80vw;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
}
.conteudo > h1 {
    font-size: 50px;
    justify-content: center;
    display: flex;
}
.conteudo > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 15px;
}

.conteudo img {
    width: 60vw;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .linha {
        width: 100vw;
        gap: 1.5rem;
    }

    .links {
        padding: 0;
        flex-wrap: wrap;
    }

    #title {
        font-size: 25px;
        padding-left: 10px;
    }

    main {
        width: 90vw;
    }

    input {
        font-size: 15px;
        margin-left: 10px;
    }

    .conteudo h1 {
        font-size: 28px;
    }

    .conteudo p {
        font-size: 17px;
    }   

    .conteudo img {
        width: 50vw;
    }
}